@media screen and (min-width:1400) {
 html{
   font-family: 'Press Start 2P', cursive;
 }
}
body{
  background-image: url('img/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#logo{
  position: absolute;
  width: 16%;
  left: 0;
}

form{

  display:flex;
  display: none;
  flex-direction: column;
  border: solid black 5px;
  border-radius: 12px;
  border
  width: 15%;
  margin-top: 10%;
  padding: 10px;
  text-align: center;
  background-color: lightblue;

}

.leaderboard {
  display:flex;
  flex-direction: column;
  border: solid black 5px;
  border-radius: 12px;
  width: 60% !important;
  margin-top: 10%;
  padding: 10px;
  text-align: center;
  background-color: lightblue;
}

.leaderboard-title {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
  align-items: center;
}
/*
.leaderboard
{
  background-color: black;
  text-align: center;
  margin-top: 20%;
  padding: 10px;
  color : white;
}

.nes-table
{
  color : magenta;
  background-color: black;
  border-color : white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}*/

.joueur {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
}

div{
  padding-bottom: 2%;
}

#credits{
  position: absolute;
    bottom: 0;
    right: 0;
}
.image{
  border-radius:50%;
}


i{
  float:left;
  margin-right: 4%;
}
}
